<div class="card-small-body" style="vertical-align: text-bottom;">
  <strong><%= link_to listing.title, listing_path(listing) %></strong>
  <div class="card-small-text">
    <small><%= listing.category %></small>
    <p>$<%= listing.unit_price %></p>
  </div>
</div>
