<div class="container">

  <h2>Transaction Confirmation</h2>

  <p>
    <% @order.order_items.each do |item| %>
    <%= render "card-products", item: item %>
    <% end %>
  </p>

  <h4>
    TOTAL AMOUNT: $<%= @order.total_amounts %>
  </h4>


</div>


